apiVersion: apps/v1
kind: Deployment
metadata:
  name: kairos-capi-controller-manager
  namespace: kairos-capi-system
spec:
  template:
    spec:
      containers:
      - name: manager
        imagePullPolicy: Always
