apiVersion: cluster.x-k8s.io/v1beta1
kind: Cluster
metadata:
  name: kairos-cluster
  namespace: default
spec:
  infrastructureRef:
    apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
    kind: VSphereCluster
    name: kairos-cluster
  controlPlaneRef:
    apiVersion: controlplane.cluster.x-k8s.io/v1beta2
    kind: KairosControlPlane
    name: kairos-control-plane
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: VSphereCluster
metadata:
  name: kairos-cluster
  namespace: default
spec:
  # TODO: Configure vSphere connection details
  # server: "vcenter.example.com"
  # datacenter: "Datacenter"
  # thumbprint: "thumbprint"
  # or use VSphereClusterIdentity for credentials
---
apiVersion: controlplane.cluster.x-k8s.io/v1beta2
kind: KairosControlPlane
metadata:
  name: kairos-control-plane
  namespace: default
spec:
  replicas: 1
  version: "v1.30.0+k0s.0"
  machineTemplate:
    infrastructureRef:
      apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
      kind: VSphereMachineTemplate
      name: kairos-control-plane-template
      namespace: default
  kairosConfigTemplate:
    name: kairos-config-template-control-plane
    namespace: default
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: VSphereMachineTemplate
metadata:
  name: kairos-control-plane-template
  namespace: default
spec:
  template:
    spec:
      # TODO: Configure vSphere VM settings
      # datacenter: "Datacenter"
      # datastore: "Datastore"
      # folder: "Folder"
      # network:
      #   devices:
      #     - networkName: "VM Network"
      # resourcePool: "ResourcePool"
      # numCPUs: 2
      # memoryMiB: 4096
      # diskGiB: 50
      # template: "kairos-template"  # Name of the Kairos VM template in vSphere
      # cloneMode: "fullClone"
---
apiVersion: bootstrap.cluster.x-k8s.io/v1beta2
kind: KairosConfigTemplate
metadata:
  name: kairos-config-template-control-plane
  namespace: default
spec:
  template:
    spec:
      role: control-plane
      distribution: k0s
      kubernetesVersion: "v1.30.0+k0s.0"
      userName: kairos
      userPassword: kairos
      userGroups:
        - admin
      # Optional: Add GitHub user for SSH access
      # githubUser: "your-github-username"
      # Optional: Add SSH public key instead
      # sshPublicKey: "ssh-rsa AAAAB3NzaC1yc2E..."

