apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  name: testvm-kairos
  namespace: default
spec:
  running: true
  dataVolumeTemplates:
  # 1) Installer ISO (this references your uploaded ISO DV/PVC by cloning it)
  - metadata:
      name: kairos-iso
    spec:
      source:
        pvc:
          namespace: default
          name: kairos-rootdisk   # <-- this is your ISO DV/PVC created by virtctl upload
      pvc:
        accessModes: [ReadWriteOnce]
        resources:
          requests:
            storage: 5Gi
        storageClassName: local-path
        volumeMode: Filesystem
  # 2) Install target disk (blank)
  - metadata:
      name: kairos-install-disk
    spec:
      source:
        blank: {}
      pvc:
        accessModes: [ReadWriteOnce]
        resources:
          requests:
            storage: 40Gi
        storageClassName: local-path
        volumeMode: Filesystem
  template:
    metadata:
      labels:
        kubevirt.io/domain: testvm-kairos
    spec:
      domain:
        cpu:
          cores: 1
        resources:
          requests:
            memory: 4Gi
        devices:
          disks:
          # ISO as CD-ROM, first boot
          - name: cdromiso
            cdrom:
              bus: sata
            bootOrder: 2
          # Blank install disk, second boot
          - name: rootdisk
            disk:
              bus: virtio
            bootOrder: 1
          - name: cloudinit
            disk:
              bus: virtio
      volumes:
      - name: cdromiso
        dataVolume:
          name: kairos-iso

      - name: rootdisk
        dataVolume:
          name: kairos-install-disk
      - name: cloudinit
        cloudInitConfigDrive:
          userData: |
            #cloud-config
            install:
              auto: true
              device: "/dev/vda"
              reboot: true
            hostname: metal-kubevirt-control-plane-kv-0
            users:
            - name: kairos
              passwd: kairos
              groups: [admin]
            - name: capk
              password: capk
              groups: [users, admin]
            k0s:
              enabled: true
              args:
                - --single
